asyncio
playwright
lxml
urllib3
regex
nltk
fastcounter
pandas
itertools
xml.etree.ElementTree
textblob
youtube_comment_downloader
requests
opencv-python
pytesseract
groq
colorthief
orjson
io
math
typing
youtube_transcript_api
spacy
dask
uvloop
streamlit
Pillow
