asyncio
playwright
lxml
regex
nltk
fastcounter
pandas
textblob
youtube_comment_downloader
requests
opencv-python
pytesseract
groq
colorthief
opencv-python
orjson
typing
youtube_transcript_api
spacy
dask
uvloop
streamlit
Pillow
